::placeholder{
  color: rgba(255,255,255,.5);
}

*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body{
  color: #ccc;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000039;
}

input {
  outline: 0;
  background-color: transparent;
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: #ddd;
  box-sizing: border-box;
}

textarea {
  outline: 0;
  background-image: linear-gradient(#133794, #000050);
  font-size: 20px;
  border: 0;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  width: 100%;
  color: #ddd;
  box-sizing: border-box;
  height: 100%;
  resize: none;
  overflow-y: scroll;
}