.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  background: rgba(255, 255, 255, .4);
  animation: ripple-animation 2s cubic-bezier(.25, .8, .25, 1);
}

@keyframes ripple-animation {
  from {
    opacity: 1;
    transform: scale(0)
  }

  to {
    opacity: 0;
    transform: scale(2)
  }
}